.App{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}


.cardBook{
  padding: 5px;
  background-color:lightslategrey;
  width: 400px;
  border-radius: 15px;
  margin: 10px; 
  text-align: center;
}
